In [14]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [15]:
weather1 = pd.read_csv('2682099.csv')
weather2 = pd.read_csv('2682105.csv')
weather3 = pd.read_csv('2682113.csv')
weather4 = pd.read_csv('2682125.csv')

In [16]:
weather_report = pd.concat([weather1, weather2, weather3, weather4])

In [17]:
weather_report

,STATION,NAME,DATE,AWND,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,...,WT04,WT05,WT06,WT07,WT08,WT09,WESD,WT10,PSUN,TSUN
0,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/1/2019,4.70,NaN,0.14,0.0,0.0,64.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/2/2019,4.92,NaN,0.57,0.0,0.0,56.0,59.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/3/2019,5.37,NaN,0.15,0.0,0.0,52.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/4/2019,12.08,NaN,1.44,0.0,0.0,56.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/5/2019,13.42,NaN,0.00,0.0,0.0,49.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3645,USW00093738,"WASHINGTON DULLES INTERNATIONAL AIRPORT, VA US",12/27/2019,2.01,NaN,0.00,0.0,0.0,43.0,57.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
3646,USW00093738,"WASHINGTON DULLES INTERNATIONAL AIRPORT, VA US",12/28/2019,1.57,NaN,0.00,0.0,0.0,47.0,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3647,USW00093738,"WASHINGTON DULLES INTERNATIONAL AIRPORT, VA US",12/29/2019,3.13,NaN,0.45,0.0,0.0,47.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3648,USW00093738,"WASHINGTON DULLES INTERNATIONAL AIRPORT, VA US",12/30/2019,4.92,NaN,0.18,0.0,0.0,52.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3649,USW00093738,"WASHINGTON DULLES INTERNATIONAL AIRPORT, VA US",12/31/2019,7.61,NaN,0.00,0.0,0.0,46.0,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
weather_report['NAME'].nunique()

45

In [18]:
cities = pd.read_csv('cities.csv')
cities

         ORIGIN_CITY_NAME                                               NAME
0             Atlanta, GA  ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...
1              Austin, TX      AUSTIN BERGSTROM INTERNATIONAL AIRPORT, TX US
2           Baltimore, MD  BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US
3              Boston, MA                                      BOSTON, MA US
4           Charlotte, NC                   CHARLOTTE DOUGLAS AIRPORT, NC US
5             Chicago, IL         CHICAGO OHARE INTERNATIONAL AIRPORT, IL US
6          Cincinnati, OH   CINCINNATI MUNICIPAL AIRPORT LUNKEN FIELD, OH US
7           Cleveland, OH     CLEVELAND HOPKINS INTERNATIONAL AIRPORT, OH US
8            Columbus, OH      COLUMBUS OHIO STATE UNIVERSITY AIRPORT, OH US
9              Dallas, TX                          DALLAS FAA AIRPORT, TX US
10  Dallas/Fort Worth, TX                    FORT WORTH MEACHAM FIELD, TX US
11             Denver, CO                DENVER INTERNATIONAL AIRPORT, CO US
12            Detroit, MI                       DETROIT METRO AIRPORT, MI US
13    Fort Lauderdale, FL       FORT LAUDERDALE INTERNATIONAL AIRPORT, FL US
14         Fort Myers, FL      FORT MYERS SW FLORIDA REGIONAL AIRPORT, FL US
15           Honolulu, HI              HONOLULU INTERNATIONAL AIRPORT, HI US
16            Houston, TX            HOUSTON INTERCONTINENTAL AIRPORT, TX US
17       Indianapolis, IN          INDIANAPOLIS INTERNATIONAL AIRPORT, IN US
18       Jacksonville, FL          JACKSONVILLE INTERNATIONAL AIRPORT, FL US
19        Kansas City, MO           KANSAS CITY INTERNATIONAL AIRPORT, MO US
20          Las Vegas, NV              MCCARRAN INTERNATIONAL AIRPORT, NV US
21        Los Angeles, CA           LOS ANGELES INTERNATIONAL AIRPORT, CA US
22              Miami, FL                 MIAMI INTERNATIONAL AIRPORT, FL US
23        Minneapolis, MN  MINNEAPOLIS ST. PAUL INTERNATIONAL AIRPORT, MN US
24          Nashville, TN             NASHVILLE INTERNATIONAL AIRPORT, TN US
25        New Orleans, LA                         NEW ORLEANS AIRPORT, LA US
26           New York, NY                           LAGUARDIA AIRPORT, NY US
27             Newark, NJ        NEWARK LIBERTY INTERNATIONAL AIRPORT, NJ US
28            Oakland, CA             SACRAMENTO METROPOLITAN AIRPORT, CA US
29            Orlando, FL               ORLANDO INTERNATIONAL AIRPORT, FL US
30       Philadelphia, PA          PHILADELPHIA INTERNATIONAL AIRPORT, PA US
31            Phoenix, AZ                             PHOENIX AIRPORT, AZ US
32         Pittsburgh, PA             PITTSBURGH ALLEGHENY CO AIRPORT, PA US
33           Portland, OR              PORTLAND INTERNATIONAL AIRPORT, OR US
34     Raleigh/Durham, NC                             RALEIGH AIRPORT, NC US
35         Sacramento, CA             SACRAMENTO METROPOLITAN AIRPORT, CA US
36     Salt Lake City, UT        SALT LAKE CITY INTERNATIONAL AIRPORT, UT US
37        San Antonio, TX           SAN ANTONIO INTERNATIONAL AIRPORT, TX US
38          San Diego, CA             SAN DIEGO INTERNATIONAL AIRPORT, CA US
39      San Francisco, CA         SAN FRANCISCO INTERNATIONAL AIRPORT, CA US
40           San Jose, CA              SAN JOSE INTERNATIONAL AIRPORT, CA US
41          Santa Ana, CA                SANTA ANA JOHN WAYNE AIRPORT, CA US
42            Seattle, WA                      SEATTLE TACOMA AIRPORT, WA US
43          St. Louis, MO      ST LOUIS LAMBERT INTERNATIONAL AIRPORT, MO US
44              Tampa, FL                 TAMPA INTERNATIONAL AIRPORT, FL US
45         Washington, DC     WASHINGTON DULLES INTERNATIONAL AIRPORT, VA US

In [19]:
weather = pd.merge(weather_report, cities, how='left', on='NAME')
weather

,STATION,NAME,DATE,AWND,PGTM,PRCP,SNOW,SNWD,TAVG,TMAX,...,WT05,WT06,WT07,WT08,WT09,WESD,WT10,PSUN,TSUN,ORIGIN_CITY_NAME
0,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/1/2019,4.70,NaN,0.14,0.0,0.0,64.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
1,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/2/2019,4.92,NaN,0.57,0.0,0.0,56.0,59.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
2,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/3/2019,5.37,NaN,0.15,0.0,0.0,52.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
3,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/4/2019,12.08,NaN,1.44,0.0,0.0,56.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
4,USW00013874,ATLANTA HARTSFIELD JACKSON INTERNATIONAL AIRPO...,1/5/2019,13.42,NaN,0.00,0.0,0.0,49.0,59.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Atlanta, GA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16781,USW00093738,"WASHINGTON DULLES INTERNATIONAL AIRPORT, VA US",12/27/2019,2.01,NaN,0.00,0.0,0.0,43.0,57.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,"Washington, DC"
16782,USW00093738,"WASHINGTON DULLES INTERNATIONAL AIRPORT, VA US",12/28/2019,1.57,NaN,0.00,0.0,0.0,47.0,65.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Washington, DC"
16783,USW00093738,"WASHINGTON DULLES INTERNATIONAL AIRPORT, VA US",12/29/2019,3.13,NaN,0.45,0.0,0.0,47.0,52.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Washington, DC"
16784,USW00093738,"WASHINGTON DULLES INTERNATIONAL AIRPORT, VA US",12/30/2019,4.92,NaN,0.18,0.0,0.0,52.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Washington, DC"
16785,USW00093738,"WASHINGTON DULLES INTERNATIONAL AIRPORT, VA US",12/31/2019,7.61,NaN,0.00,0.0,0.0,46.0,53.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Washington, DC"

In [20]:
weather.isna().sum()

STATION                 0
NAME                    0
DATE                    0
AWND                    2
PGTM                15217
PRCP                   15
SNOW                 5450
SNWD                 5732
TAVG                 3343
TMAX                    4
TMIN                    6
WDF2                    0
WDF5                   38
WSF2                    0
WSF5                   38
WT01                10910
WT02                16081
WT03                14728
WT04                16692
WT05                16745
WT06                16651
WT07                16782
WT08                14420
WT09                16723
WESD                16784
WT10                16783
PSUN                16784
TSUN                16785
ORIGIN_CITY_NAME        0
dtype: int64

In [21]:
weather_important = weather[['DATE', 'PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN', 'AWND', 'ORIGIN_CITY_NAME']]

In [32]:
weather_important.isna().sum()

DATE                0
PRCP                0
SNOW                0
SNWD                0
TMAX                0
TMIN                0
AWND                0
ORIGIN_CITY_NAME    0
dtype: int64

In [31]:
weather_important.fillna(0, inplace=True)

In [32]:
weather_important.isna().sum()

DATE                0
PRCP                0
SNOW                0
SNWD                0
TMAX                0
TMIN                0
AWND                0
ORIGIN_CITY_NAME    0
dtype: int64

In [33]:
weather_important

             DATE  PRCP  SNOW  SNWD  TMAX  TMIN   AWND ORIGIN_CITY_NAME
0        1/1/2019  0.14   0.0   0.0  66.0  57.0   4.70      Atlanta, GA
1        1/2/2019  0.57   0.0   0.0  59.0  49.0   4.92      Atlanta, GA
2        1/3/2019  0.15   0.0   0.0  55.0  51.0   5.37      Atlanta, GA
3        1/4/2019  1.44   0.0   0.0  66.0  45.0  12.08      Atlanta, GA
4        1/5/2019  0.00   0.0   0.0  59.0  44.0  13.42      Atlanta, GA
...           ...   ...   ...   ...   ...   ...    ...              ...
16781  12/27/2019  0.00   0.0   0.0  57.0  32.0   2.01   Washington, DC
16782  12/28/2019  0.00   0.0   0.0  65.0  32.0   1.57   Washington, DC
16783  12/29/2019  0.45   0.0   0.0  52.0  40.0   3.13   Washington, DC
16784  12/30/2019  0.18   0.0   0.0  63.0  45.0   4.92   Washington, DC
16785  12/31/2019  0.00   0.0   0.0  53.0  41.0   7.61   Washington, DC

[16786 rows x 8 columns]

In [34]:
weather_important.describe()

,PRCP,SNOW,SNWD,TMAX,TMIN,AWND
count,16786.000000,16786.000000,16786.000000,16786.000000,16786.000000,16786.000000
mean,0.107092,0.033409,0.105570,71.554748,53.041284,8.046738
std,0.327190,0.341533,0.904276,18.547758,17.504555,3.607789
min,0.000000,0.000000,0.000000,-13.000000,-28.000000,0.000000
25%,0.000000,0.000000,0.000000,59.000000,41.000000,5.370000
50%,0.000000,0.000000,0.000000,75.000000,55.000000,7.380000
75%,0.030000,0.000000,0.000000,86.000000,67.000000,10.070000
max,9.210000,9.900000,20.900000,115.000000,93.000000,32.880000

In [35]:
weather_important.to_pickle('weather.pkl')